# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test artifacts
.coverage
.pytest_cache/

# Results (optional, если большие)
results/*.json
